*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#bdc3c7,
    #2c3e50);
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    height: 700px;
    width: 490px;
    background-color: white;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.display{
    color: rgb(55, 55, 55);
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: none;
    color: grey;
    border-radius: 50px;
    padding: 28px 30px;
    width: 22%;
    margin: 10px 6px;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.372);
}

.zero btn {
 padding: 30px 190px 26px 20px;

}

.btn-blue {
    background-color: rgb(197, 197, 247);
}

.btn-grey {
    background-color:#2c3e50
}


body.dark-theme {
    background: linear-gradient(to right, #f12711, #f5af19);
}

body.dark-theme .calculator {
    background-color: #000000;
}

body.dark-theme .display {
    color: #ffffff;
}

body.dark-theme .button {
    background-color: #323232;
    color: #ffffff;
}

body.dark-theme .btn-blue {
    background-color: orange;
}

body.dark-theme .btn-grey {
    background-color: #727272;
    color: #ffffff;
}

.btn-theme-toggle {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: #7d4caf;
    color: white;
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;
}
